<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h1>Estamos dentro del Action <code>index()</code>.</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<b>Peticiones XmlHttpRequest</b>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<button id="btnXhrGet" class="btn btn-info btn-lg btn-block">Petición GET</button>
							<br>
						</div>
						<div class="col-sm-6">
							<button id="btnXhrPost" class="btn btn-success btn-lg btn-block">Petición POST</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>